<footer class="site-footer">
  <p><span class="blog-name blog-name--light">learn-web.dev</span> © {% year %} by Cynthia Teeters. All rights reserved.
  </p>
  <ul class="social">
    <li>

      <a class="social__link" href="https://github.com/cynthiateeters">GitHub</a>
    </li>
    <li><a class="social__link" rel="me" href="https://front-end.social/@Cynthiateeters">Mastodon</a></li>
  </ul>
</footer>