<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <a href="/" class="home-link">
        <div class="logo">
          <!-- <img class="logo-img" src="/assets/palmtree3x2.png" alt=""> -->
          <div class="blog-name">Cynthia Teeters</div>

        </div>
      </a>
      <nav>

        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/blog/">Blog</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>