---
title: "Cynthia Teeters' Blog"
layout: 'base.njk'
---

<section class="hero">
  <h1 class="hero-title">My Learning Path</h1>
  <div class="container flow">
    <div class="hero__content flow">
      <article class="poem">
        <h2 class="section-title">Alone</h2>
        <h3>by E. A. Poe</h3>
        <div class="stanza">
          From childhood's hour I have not been<br>
          As others were, I have not seen<br>
          As others saw, I could not bring<br>
          My passions from a common spring,<br>
          From the same source I have not taken<br>
          My sorrow, I could not awaken<br>
          My heart to joy at the same tone,<br>
          And all I loved, I loved alone,<br>
          Thou, in my childhood, in the dawn<br>
          Of a most stormy life, was drawn<br>
          From every depth of good and ill<br>
          The mystery which binds me still,<br>
          From the torrent, or the fountain,<br>
          From the red cliff of the mountain,<br>
          From the sun that round me roll'd<br>
          In its autumn tint of gold,<br>
          From the lightning in the sky<br>
          As it passed me flying by,<br>
          From the thunder and the storm,<br>
          And the cloud that took the form<br>
          (When the rest of Heaven was blue)<br>
          Of a demon in my view.
        </div>
        <footer>
          <p class="poem-credits">This is a lovely poem and image ~ clt</p>
        </footer>
      </article>
      <div class="flex-group">
        <a href="#featured-articles" class="btn btn--primary">Featured articles</a>
        <a href="./blog" class="btn btn--neutral">Most recent articles</a>
      </div>
    </div>
    <div>
      <img src="/assets/blog/jakub-kriz-arOyDPUAJzc-unsplash.jpg" alt="" class="hero__image">
    </div>
  </div>
</section>

<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-center ">Featured articles</h2>
    <!-- <p class="text-center">Here is a sample of articles which I feel give you a good idea of what this site is all
      about.</p> -->
    <ul role="list" class="articles__list flow">
      {%- for post in collections.featured | reverse -%}
      {% include 'article-snippet.njk' %}
      {%- endfor -%}
    </ul>
  </div>
</section>